*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(70, 70, 70);
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.contenedor{
	width: 700px;
	height: 400px;
	padding-top: 40px;
	border-radius: 9px;
	border: 1px solid black;
	box-shadow: -2px 1px 7px 0px rgba(0, 0, 0, 0.7);
	margin-top: 110px;
	background-color: black;
    opacity: .9;
}

.contenedor:hover{
    opacity: .95;
}

a{
	display: block;
	margin: 30px 130px;
	padding: 17px 30px;
	background-color: white;
	color: black;
	border: 1px solid black;
	text-decoration: none;
    margin-left: 117px;
    
}

a:hover{
	background-color: black;
	border: 1px solid black;
	color: white;
}

select{
    background-color: white;
    border-color: white;
    color: black;
    width: 300px;
	padding: 12px 15px;
    border-radius: 20px;
    font-size: 18.5px;
    margin-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow-y: scroll;
    text-decoration: none;
}

select:hover{
    background-color: rgb(17, 17, 39);
    color: white;
}

option{
    font-size: 19px;
    border-radius: 20px;
    padding: 12px 24px;
}

.regresar{
    font-size: 18.5px;
    font-weight: 700;
    width: 100px;
    border-radius: 20px;
    padding: 12px 30px;
    margin-right: 122px;
    margin-top: 110px;
}

.regresar:hover{
    background-color: rgb(17, 17, 39);
    border-color: white;
}

.agregarp h2{
    color: white;
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.agregarp input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 60;
    background-color: white;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 13px 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

.button{
    background-color: white;
    width: 150px;
    border-radius: 20px;
    font-size: 18.5px;
    font-weight: 700;
    border: 1px solid white;
    color: black;
    margin-left: 50px;
    margin-right: 60px;
    padding: 11px 30px;
    margin-top: 25px;
}

.button:hover{
    background-color: rgb(17, 17, 39);
    color: white;
    opacity:1;
    cursor: pointer;
    
}