* {
	padding: 0px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

img{
	margin-top: 10px;
	margin-bottom: -10px ;
	height: 110px;
}

.contenedor{
	width: 600px;
	height: 520px;
	padding-top: 5px;
	border-radius: 9px;
	opacity: .93;
	border: 1px solid black;
	box-shadow: -2px 1px 7px 0px rgba(0, 0, 0, 0.7);
	margin-left: 470px;
	margin-top: 80px;
	margin-bottom: 1px;
	background-color: black;
}

.contenedor:hover{
	opacity: .96;
}

a{
	display: block;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	border-radius: 20px;
	margin: 30px 130px;
	padding: 17px 30px;
	margin-left: 100px;
	background-color: white;
	color: black;
	border: 1px solid black;
	text-decoration: none;
}

a:hover{
	background-color: rgb(17, 17, 39);
	border: 1px solid white;
	color: white;
}

.cerrar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 800;
    width: 191px;
    border-radius: 20px;
    padding: 12px 30px;
	margin-left: 660px;
	margin-top: 19px;
}
